.about-image-container{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.about-images {
  position: absolute;
  left: -50%;
  z-index: 1;
}
.about-text-container {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  padding: 15em 12.5vw;
  color: white;
  z-index: 2;

}
.about-text {
  margin-bottom: 1.25em;
  text-align: justify;
  font-size: 1.25em;
}
