.content {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: clip;
}
.image-container{
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;
}

.background-images {
  position: relative;
  top: -4em;
  left: -33em;
  z-index: 1;
}

.text-container {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  padding: 18em 12.5vw;
  z-index: 2;
  color: white;
}

.text-box {
  display: flex;
  min-height: 260px;
}

.left {
  flex: 1 1 60%;
}

.right {
  position: relative;
  flex: 1 1 40%;
  box-sizing: border-box;
}


h1 {
  font-size: 5em;
  margin: 0;
}

p {
  font-size: 1.55em;
  margin: 0;
}

.right > * {
  position: absolute;
  bottom: 0;
}


button {
  background: none;
  border: none;
  position: absolute;
  z-index: 0;
  bottom: 1em;
  left: 50%;
  margin-left: -67.0955px;
  cursor: pointer;
}




