@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Poppins, sans-serif;
}

/* MAIN CLASSES */

.App {
  display: flex;
  flex-direction: column;
}

.portfolio {
  position: relative;
  padding: 0;
  margin: 0;
  top: 0;
  height: 955px;
}

.Home {
  background: #49044B;
}

.Projects {
  background: transparent linear-gradient(0deg, rgba(155, 0, 158, 1) 0%, rgba(73, 4, 75, 1) 100%) 0 0 no-repeat padding-box;
}

.Abilities {
  background: #9C029F;
}

.About {
  height: 1050px;
  background: transparent linear-gradient(180deg, #9B009E 0%, #49044B 100%) 0 0 no-repeat padding-box;
}

/* NAVBAR */

nav {
  position: relative;
  width: 100%;
  background: #5C005E;
  z-index: 5;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.55em;
  font-weight: 400;
  padding: 1.45em 0.9em;
}

.links {
  display: flex;
  justify-content: center;
  gap: 2em;
}

/* CONTENT */

/* TAGS */
header {
  margin-top: 4em;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 5em;
  margin: 0;
}

h2 {
  font-size: 4em;
  font-weight: 500;
  color: white;
  margin: 0;
}

h3 {
  font-size: 3.1em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.55em;
  margin: 0;
}

button {
  background: none;
  border: none;
  position: absolute;
  z-index: 0;
  bottom: 1em;
  left: 50%;
  margin-left: -67.0955px;
  cursor: pointer;
}

button:hover {
  z-index: 5;
}

/* CLASSES FOR ALL*/
.content {
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: clip;
}

.image-container {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;
  pointer-events: none;
}

.background-images {
  position: relative;
  top: -4em;
  left: -33em;
  z-index: 1;
}

.text-container {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 0 12.5vw;
  color: white;
}

/* CLASSES FOR HOME */

.home-text-container {
  padding-top: 18em;
  padding-bottom: 18em;
}

.text-box {
  display: flex;
  min-height: 180px;
}

.left {
  flex: 1 1 60%;
}

.right {
  position: relative;
  flex: 1 1 40%;
  box-sizing: border-box;
}

.right > * {
  position: absolute;
  bottom: 0;
}

/* CLASSES FOR PROJECTS */

.projects {
  height: 50vh;
  width: 75vw;
  padding: 9em 12.5vw;
  display: flex;
  justify-content: center;
  gap: 1em;
  color: white;
}

.project {
  width: 25vw;
}

.title {
  text-align: center;
  font-size: 1.55em;
}

.feature {
  margin-left: 7.5%;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  width: 85%;
  padding-top: 85%;
  background: #3B003D;
  border-radius: 50%;
  position: relative;
}

.feature-content {
  position: absolute;
  display: block;
  top: 7.5%;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background: white;
  color: black;
}

/* CLASSES FOR ABILITIES */

.abilities-image-container {
  margin-left: -330px;
  margin-top: -200px;
  position: relative;
  z-index: 1;
}

.abilities-text {
  font-size: 1.9em;
  font-weight: 300;
}

.abilities-text-section {
  display: flex;
  gap: 5em
}

.abilities-text-container {
  padding-top: 10em;
  padding-bottom: 10em;
}

/* CLASSES FOR ABOUT */

.about-image-container {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.about-images {
  margin-top: 5em;
  position: absolute;
  z-index: 1;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  padding: 15em 12.5vw;
  color: white;
  z-index: 2;

}

.about-text {
  margin-bottom: 1.25em;
  text-align: justify;
  font-size: 1.25em;
}

.cv {
  border-radius: 135px;
  border: white 2px solid;
  max-width: 35%;
  min-width: 25%;
  position: static;
  text-align: center;
  align-self: center;
  color: white;
  font-size: 1.8em;
  padding: 0;
  margin: 2em 0 0;
}