@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Poppins, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.Home {
  margin: 0;
  padding: 0;
  background: #49044B;
  height: 100vh;
}

.Projects {
  position: relative;
  padding: 0;
  top: 0;
  background: transparent linear-gradient(0deg, rgba(155, 0, 158, 1) 0%, rgba(73, 4, 75, 1) 100%) 0 0 no-repeat padding-box;
  height: 100vh;
}

.Abilities {
  position: relative;
  padding: 0;
  top: 0;
  background: #9C029F;
  height: 100vh;
}

.About {
  position: relative;
  padding: 0;
  top: 0;
  height: 120vh;
  background: transparent linear-gradient(180deg, #9B009E 0%, #49044B 100%) 0 0 no-repeat padding-box;
}